@using WebWallet.Data.ViewModel.Accounts;
@using WebWallet.Data.DTO.Account.Bank;

@{
    ViewData["Title"] = "Contas";
}

@model AccountViewModel

@if (Model.banks.Count() > 0)
{
    <div class="d-lg-flex flex-wrap">
        @foreach (ReadBankDTO bank in Model.banks)
        {
            <partial name="\Partial\_CardInstituicao" model="bank" />
        }
    </div>
    
    <partial name="\Partial\_BtnCadastrarInstituicao" />
}
else
{
    <partial name="\Partial\_EmpytCard" />
    <partial name="\Partial\_BtnCadastrarInstituicao" />
}

<partial name="\Partial\_ModalCadastroInstituicao" model="Model.createBank" />
<partial name="\Partial\_ModalCadastroConta" model="Model.createAccount" />

<script src="~/js/Account/Index.js"></script>