<label for="accountType">Tipo da Conta</label>
<select class="form-select" id="accountType">
    <option selected disabled>Selecione</option>
    <option value="0">Dinheiro</option>
    <option value="1">Conta Corrente</option>
    <option value="2">Conta Poupança</option>
    <option value="3">Conta em Corretora</option>
</select>